// SHADOWS
$boxShadow: 17px 1px 63px -5px rgba(89, 145, 207, 0.38);
$navBarboxShadow: 17px 1px 129px -5px rgba(89, 145, 207, 0);

// COLORS
$backgroundDefault:linear-gradient(82deg, #f5faff, #dcecff);
$inputDefaultColor: #e1ebf7;
$btnPrimaryColor:#0864ff;
$white: #ffffff;
$boxColor: #ffffff;
$navBarBackground:#0c1a3d;
$fontColor: #3b475b;
$numbersBlue: #0864ff;
$blurBackground: rgba(122, 123, 124, 0.5);

// SIZES
$modalSquareDimention:400px;
$inputDefaultHight: 50px;
$inputDefaultWidth: 300px;
$btnDefaultHight: 40px;
$btnDefaultWidth: 136px;
$navBarHeight: 69px;
$navBarIconSize: 18px;
$newPostGroupHeight: 102px;
$profileInfoHeight: 485px;
$profileInfoWidth: 221px;
$iconDefauktSize: 64px;
$signOutHeight:51px;
$signOutWidth: 221px;
$smallFontSize: 16px;
$mediumFontSize: 18px;
$largeFontSize: 21px;

// BORDERS
$searchBarBorder: solid 1px #659eff;
$newPostGroupBorder: solid 1px #e1ebf7;

// PADDINGS
$newPostGroupPadding: 0px 30px;


